body {
	font-size: 16px;
	color: #000;
	font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

#header-nav{
	background-color: #00004D;
	border-radius: 0;
	border: 0;
}

.navbar-brand {
	height: 75px;
}

.navbar-brand h1 {
	margin-top: 0;
	margin-bottom: 0;
	color: #fff;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid #fff;
}

.navbar-header button.navbar-toggle {
	margin-top: 15px;
}

#nav-list a {
	color: #fff;
	text-align: center;
	font-size: 1.2em;
}
#nav-list a:hover {
	background: #E7E7E7;
	color: #222;
}

li hr{
	margin: 0;
}

.menu-item {
	margin-top: 30px;
	background-color: #A9A9A9;
	padding: 0 15px 10px;
	height: 1000px;
}

.row{
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
