* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	margin-top: 60px;
	text-align: center;
	font-size: 175%;
}

h2{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	font-size: 125%;
	background-color: red;
	width: 35%; 
	text-align: center;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

div{
	position: relative;
	background-color: #A9A9A9;
	border: 1px solid black;
	padding: 30px 10px 10px;
	
}

#headsect1{
	background-color: pink;
}
#headsect2{
	background-color: #CF5555;
	color: white;
}
#headsect3{
	background-color: cyan;
}

/***Desktop View***/
@media(min-width: 992px){
	body{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	section{
		float: left;
		width: 33.33%;
		margin-top: 100px;
	}
	#section1{
		padding: 10px;
	}
	#section2{
		padding: 10px;
	}
	#section3{
		padding: 10px;
	}
}

/***Tablet view***/
@media(min-width: 768px) and (max-width: 991px){
	body{
		padding-left: 17.5px;
		padding-right: 17.5px; 
	}
	#section1{
		float: left;
		width: 50%;
		padding: 12.5px;
		margin-top: 100px;
		
	}
	#section2{
		float: left;
		width: 50%;
		padding: 12.5px;
		margin-top: 100px;
	}
	#section3{
		clear: left;
		width: 100%;
		padding: 17.5px 12.5px; 
		
	}
}
@media(max-width: 767px){
	section {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 30px;
	}
	h1{
		margin-bottom: 30px;
	}

}